  body {
    background-color: #860792;
  }
.flex-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.flex-item {
  width: 0px;
  height: 0px;
  background-color: red;
}

.h1-wrapper {
  text-align: center;
  background-color: rgb(229, 230, 173);
  padding: 25px;
  border-bottom: 0px solid black;
}
